.card-login {
    @media (min-width: 800px) {
        margin-right: 12em;
        margin-left: 12em;
    }

    @media (min-width: 991px) {
        margin-right: 15em;
        margin-left: 15em;
    }

    @media (min-width: 1200px) {
        margin-right: 20em;
        margin-left: 20em;
    }

    @media (min-width: 1919px) {
        margin-right: 16em;
        margin-left: 16em;
    }
}