
.text-primary {
    color: $primary-color-text;
}

.text-primary-light {
    color: $primary-color-light;
}

.text-primary-dark {
    color: $primary-color-dark;
}

.text-accent {
    color: $accent-color;
}

.bg-primary-dark {
    background-color: $primary-color-dark;
}

.bg-accent {
    background-color: $accent-color;
}

