.title{
    color: $accent-color;
    text-align: left;

    @media (min-width: 300px) {
        font-size: 2em;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    @media (min-width: 800px) {
        font-size: 3em;
        padding-top: 2em;
        padding-bottom: 0em;
    }

    @media (min-width: 991px) {
        font-size: 4em;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    @media (min-width: 1200px) {
        font-size: 5em;
        padding-top: 2em;
        padding-bottom: 0em;
    }

    @media (min-width: 1919px) {
        font-size: 6em;
        padding-top: 2em;
        padding-bottom: 1em;
    }
}