{% extends "diariopet/base.html" %}

{% block content %}
<body class="bg-primary-dark">
<div class="container">
    <div class="row justify-content-center row-responsive">
        <div class="col">
            <h1 class="title">Criar conta</h1>
            <form action="/users/register/" method="post" class="form form--no-card">
                {% csrf_token %}
                <div class="fieldWrapper md-form">
                    <label for="{{form.username.id_for_label}}">Username</label>
                    {{form.username}}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="fieldWrapper md-form">
                    <label for="{{form.email.id_for_label}}">Email</label>
                    {{form.email}}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="fieldWrapper md-form">
                    <label for="{{form.password.id_for_label}}">Senha</label>
                    {{form.password}}
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="fieldWrapper md-form">
                    <label for="{{form.repeat_password.id_for_label}}">Repetir senha</label>
                    {{form.repeat_password}}
                    {% if form.repeat_password.errors %}
                    {% for error in form.repeat_password.errors %}
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn button-form-accent btn-lg btn-block">
                    Cadastrar Usuário
                </button>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
